<div class="row">
    <div class="col-12">

        <!--<mat-card>-->
            <div class="row" >
                <div class="col">
                    <h6 class="small"><b>Name: </b>{{comment.name}}</h6>
                </div>
                <div class="col">
                    <h6 class="small"><b>Date: </b>{{comment.creationDate | date}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{comment.body}}</p>
                </div>
            </div>
        <!--</mat-card>-->
    </div>
</div>
