<div class="container">
    <mat-card>
        <form #f="ngForm">
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="width100">
                        <input matInput placeholder="Subject" value="" required [(ngModel)]="question['subject']" name="subject">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="width100">
                        <textarea matInput placeholder="Body of your question" [(ngModel)]="question['body']" name="body"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="width100">
                        <input matInput placeholder="Add some tags" value="" [(ngModel)]="question['tags']" name="tags" >
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <button mat-raised-button color="primary" (click)="postQuestion()" [disabled] ="f.invalid">Submit</button>
            </div>
        </form>
    </mat-card>
</div>