/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.width100{
    width: 100%;
}
.percent50{
    width: 50%;
    height: 50%;
}
.flex{
    flex: 1 1 auto;
}
.v-align{
    vertical-align: sub;
}
.pointer:hover{
    cursor: pointer;
}
.x-small{
    font-size: x-small;
}
.small{
    font-size: small;
}