<mat-toolbar color="primary" class="fix-nav">
    <div class="row width100">
        <div class="col-2">
            <!--
            <img src="/assets/logo.png" class="percent50"/>
            -->
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <input class="form-control form-control-sm" type="text" [(ngModel)]="searchtext" name="searchtext" (keyup.enter)="search()" placeholder="Search ">
            </div>
        </div>
        <span class="flex"></span>
        <div class="col-2" *ngIf="true">
            <button mat-button  class="mr-3" [routerLink]="['question', 'new']">
                <mat-icon title="note_add" class="v-align">note_add</mat-icon>
                New Question
            </button>
        </div>
        <div class="col-2" *ngIf="loginService.user.logged">
            <span class="pointer" (click)="getDashboard()">{{loginService.user.name}}</span>
            <button mat-icon-button (click)="logOut()">
                <mat-icon title="LogOut"  class="v-align">exit_to_app</mat-icon>
            </button>
        </div>
        <div class="col-2" *ngIf="!loginService.user.logged">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button class="btn btn-primary btn-sm" (click)="logIn()">LogIn</button>
                <button class="btn btn-success btn-sm" (click)="signUp()">SignUp</button>
            </div>
        </div>
    </div>

        
</mat-toolbar>

<i class="fas fa-search"></i>